<section>
  <form id="contactForm" method="POST" action="" enctype="multipart/form-data">
    <div class="fields">
      <div class="field half">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field half">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="field half">
        <label for="phoneNumber">Phone number</label>
        <input type="tel" name="phoneNumber" id="phoneNumber" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
      </div>
      <div class="field half">
        <label for="howDidYouFindUs">How did you find about us?</label>
        <select name="howDidYouFindUs" id="howDidYouFindUs">
          <option value="">None</option>
          <option value="search">Search</option>
          <option value="friend">Recommandation by friend</option>
          <option value="facebook">Facebook</option>
          <option value="advertisement">Advertisement</option>
        </select>
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="5"></textarea>
      </div>
      <div class="field">
        <label for="fileUpload">File Upload</label>
        <input type="file" name="fileUpload" id="fileUpload" accept="pdf,doc,docx,odt,image/*" multiple>
      </div>
      <div class="field">
        <label for="captcha">Captcha</label>
        <input type="hidden" name="shared_secret" value="{{ site.form_shared_secret_key }}" />
        <div class="g-recaptcha" data-sitekey="{{ site.recaptcha_site_key }}" data-callback="onReCaptchaOK"></div>
        <input type="hidden" name="hiddenReCaptcha" id="hiddenReCaptcha">
      </div>
    </div>
    <ul class="actions">
      <li><a href="" class="button submit">Send Message</a></li>
    </ul>
  </form>
</section>
